body{
    /*background-image: url("../../assets/predios.png");*/
    
}

.divPrincipal{
    background-image:  url("../../assets/predios.png");
    background-position: center;
}

.main-screen-container{
    width: 100%;
  /*  max-width: 1120px;*/
  /*  height: 100vh;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-screen-container section{
    width: 100%;
    max-width: 1000px;
}

.buttonMainScreen{
    width: 100%;
    min-width: 150px;
}

.divButtons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    height: 720px;
    display: flex;
    align-items: flex-end;
}

.divBtn1{
    width: 40%;
    min-width: 250px;
    padding-left: 15px;
    text-align: center;
}

.divBtn2{
    width: 40%;
    min-width: 250px;
    padding-left: 15px;
    text-align: center;
}

.titleMain{
    text-align: center;
  /*  margin-top: 250px;*/
   /* margin-bottom: 300px;*/
   position: relative;
   top: 250px;
   color:gray
}